<div class="container">
    <div class="search-container">
      <img src="https://i.imgur.com/XWt6Bdk.gif" class="logo">
      <h1>“<u>About Us</u>”</h1>
      <h2 class="title">YouTube is a widely popular online video-sharing platform founded in February 2005 by Steve Chen, Chad Hurley, and Jawed Karim. It allows users to upload, share, and view videos on a variety of topics ranging from entertainment, education, music, gaming, lifestyle, and more. 
        The platform supports a diverse community of creators, enabling them to reach global audiences.</h2>
    <div>
        <h6>© 2024 Google LLC</h6>
    </div>
    </div>
  </div>