.title {
    font-size: 32px;
  }

  .logo {
    width: 500px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add margin to the right of the image to space it from the text */
    margin-top: 50px;
    margin-bottom: 50px;
  }
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-input::placeholder {
    color: #999;
  }

  .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }
  
 .nav-link span {
    margin-left: 15px;
  }
  
 .nav-link:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
 
 .active {
    background: #e5e5e5;
 }
  
 hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

h1 {
  line-height: 5.0;
  font-weight: 900;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #252525;
}