<div class="container">
  <h2 class="mt-4 mb-3">Search Results for "<u>{{ query }}</u>"</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let video of videos">
      <div class="card mb-4 shadow-sm">
        <img [src]="video.snippet.thumbnails.high.url" class="card-img-top thumbnail" alt="Video Thumbnail">
        <div class="card-body">
          <h5 class="card-title">{{ video.snippet.title }}</h5>
          <p class="card-text">{{ video.snippet.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank" class="btn btn-sm btn-outline-secondary">Watch</a>
            </div>
            <small class="text-muted">Channel: {{ video.snippet.channelTitle }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

