.card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.1); /* Increase size on hover */
  filter: brightness(80%); /* Adjust brightness on hover */
}

.card {
  position: relative;
}

h2 {
  line-height: 1.5;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

u {
  font-weight: 900;
}

.thumbnail {
  width: 100%; /* Ensure the thumbnail fills its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Add border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.2s ease; /* Add a transition effect */
}

.thumbnail:hover {
  transform: scale(1.05); /* Scale up the thumbnail on hover */
}

.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .thumbnail-overlay {
  opacity: 1; /* Show overlay on hover */
}

.thumbnail-overlay-content {
  text-align: center;
}

.thumbnail-overlay-content a {
  color: white;
}

.thumbnail-overlay-content a:hover {
  text-decoration: underline;
}
